[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
twine = "*"
pytest = "*"
responses = "*"
bumpversion = "*"
coverage = "*"
pydocstyle = "*"
better-exceptions = "*"
jupyterlab = "*"
black = "==19.3b0"
pytest-cov = "*"
pytest-sugar = "*"

[packages]
bcr = {editable = true,path = "."}
